:root {
  --dark: rgb(255, 62, 62);
  --light: rgba(255, 62, 62, 0.2);
  --medium: rgba(255, 62, 62, 0.6);
}

* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

table {
  width: 100%;
  border: 20px white;
  padding: 6px;
}

th, td {
    padding: 18px;
    text-align: left;
  }

th {
    background-color: var(--medium);
}

tr:hover {
    background-color: black;
    color: white
}

a {
    text-decoration: none;
    color: var(--dark);
}

a:hover {
    color: white;
    cursor: pointer;
}
  
  /* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }
  
  
  /* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
    color: black;
  }

p, label {
  font-size: 1.2em;
}

.main {
  width: 80%;
  margin-left: 250px;
  margin-top: 30px;
  margin-bottom: 5%;
  padding-bottom: 5%;
  height: 900px;
}

.container-table {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid gainsboro;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  float: left;
}

.container-form {
  width: 30%;
  float: right;
  margin-right: 70px;
}


.table-body {
  max-height: 585px;
  width: 100%;
}
  
  /* Style the content */
.content {
    margin-left: 240px;
    padding-left: 20px;
    width: 700px;
    position: fixed;
  }

input[type=text], input[type=number],select {
    width: 100%;
    padding: 5px;
    display: inline-block;
    border: 1px solid black;
  }


.content2{
    margin-left: 950px;
    width: 350px;
    position: fixed;
}

fieldset {
  padding: 25px;
  background-color: white;
  border: 1px solid gainsboro;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
}

.content3{
    padding-top: 80px;
    margin-left: 240px;
    padding-left: 20px;
    width: 1000px;
    display: flex;
}

.header-container {
  width: 100%;
  display: inline-block;
}

.sort {
  display: inline-flex;
  width: 40%;
  float: right;
}

.search {
  width: 50%;
  float: left;
}

.container-mid {
  width: 60%;
  float: left;
  display: inline-block;
}

.container-l {
  width: 45%;
  float: left;
}

.container-r {
  width: 45%;
  float: right;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

input[type=submit], button {
  background-color: gainsboro;
  padding: 8px;
  margin: 2px;
  border:1px solid black;
  border-radius:2px; 
}

input[type=submit]:hover, button:hover {
  background-color: var(--light);
  padding: 8px;
  margin: 2px;
  border:1px solid var(--dark);
  border-radius:2px; 
  cursor: pointer;
}

.required:before {
  content:" * ";
  color: red;
}

label.required {
  content:" *";
}