<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Expenses</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<div class="sidenav">
  <a href="graph">Spending Analysis</a>
  <a href="expenses">Expenses Tracker</a>
  <a href="faq">FAQ</a>
</div>

<div class="content">
    <h1>Common questions and answers</h1>
    <h3>How do I record an expense?</h3>
    <p>Navigate to the Expenses Tracker page. Then, use the "Add An Expense" form to record your expense.</p>
    <h3>Can I delete an expense?</h3>
    <p>Use the delete button within the table to delete an expense. Note: all deletions are permanent.</p>
    <h3>What areas of the expense form are required?</h3>
    <p>The description is the only option input. All other fields are required to record an expense.</p>
    <h3>What does the spending analysis show me?</h3>
    <p>The spending analysis page shows how much money you have spent per month. This is a good way to analyze your spending habits.</p>

</div>