<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Expenses</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<div class="sidenav">
  <br>
  <a href="graph">Financial Analysis</a>
  <a href="expenses">Expenses</a>
  <a href="income">Income</a>
</div>

<div class="content">
    <h1>Frequent Questions and Answers</h1>
    <h3>How do I record an expense?</h3>
    <p>Navigate to the Expenses Tracker page. Then, use the "Add An Expense" form to record your expense.</p>
    <h3>Can I delete an expense?</h3>
    <p>Use the delete button within the table to delete an expense. All deletions are permanent.</p>
    <h3>What areas of the expense form are required?</h3>
    <p>The description is the only optional input. All other fields are required to record an expense.</p>
    <h3>Why is nothing coming up when I search?</h3>
    <p>Check your spelling. If the item you are looking for still does not appear, try searching by category for the item.</p>
    <h3>What does the spending analysis show me?</h3>
    <p>The spending analysis page shows how much money you have spent per month. This is a good way to analyze your spending habits.</p>

</div>